@import url(//db.onlinewebfonts.com/c/1dced00e473a2db7b3d52a4c8392f31e?family=Euclid+Circular+A+Light);

@font-face {
  font-family: "Euclid Circular A Light";
  src: url("//db.onlinewebfonts.com/t/1dced00e473a2db7b3d52a4c8392f31e.eot");
  src: url("//db.onlinewebfonts.com/t/1dced00e473a2db7b3d52a4c8392f31e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/1dced00e473a2db7b3d52a4c8392f31e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/1dced00e473a2db7b3d52a4c8392f31e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/1dced00e473a2db7b3d52a4c8392f31e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/1dced00e473a2db7b3d52a4c8392f31e.svg#Euclid Circular A Light")
      format("svg");
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Euclid Circular A Light;
  text-align: center;
  font-size: 13px;
  line-height: 1.8;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.1em;
  cursor: none;
  color: white;
  background-image: url("./images/williams-joinery-13.jpg");
  background-size: cover;
  border: 2.5em solid white;
  display: block;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  color: white;
}

span {
  text-decoration: underline;
  color: white;
  text-align: center;
}

.top-container {
  width: 80%;
  margin-top: 3.8em;
  margin-left: auto;
  margin-right: auto;
}

.top-container-container {
  display: flex;
  justify-content: space-between;
}

.middle-logo-container {
  position: absolute;
  width: 33%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-container {
  position: absolute;
  bottom: 6.3em;
  width: 76%;
  left: 50%;
  margin-left: -38%;
}

.bottom-container-container {
  display: flex;
  justify-content: space-between;
}

div.cursor-container div {
  position: absolute;
  top: 300px;
  left: 600px;
  width: 65px;
  height: 65px;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

span {
  text-decoration: none;
  color: #ffffff;
  text-decoration: underline;
}

.overlay {
  cursor: pointer;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-image: url(slider-background_1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #e8d7c5; */
  overflow-x: hidden;
  transition: 0.5s;
  font-family: Euclid Circular A Light;
  line-height: 1.8;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}

h2 {
  color: black;
  font-size: 11px;
  line-height: 1.8;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 75%;
  text-align: left;
  margin-left: 62px;
  color: black;
}

.overlay a {
  padding: 8px;
  font-family: Euclid Circular A Light;
  text-align: center;
  font-size: 11px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  display: block;
  transition: 0.3s;
  text-decoration: none;
}

.wordmark-logo {
  margin-top: 75px;
  margin-bottom: 55px;
  width: 75%;
}

.badge-logo {
  position: absolute;
  width: 7em;
  right: 10px;
  margin-top: 5px;
  z-index: 2;
  transform: translateY(-30px); */
}

.social-links {
  margin-top: 55px;
}

.overlay a:hover,
.overlay a:focus {
  color: #ffffff;
}

.overlay .closebtn {
  position: absolute;
  right: 45px;
  font-size: 60px;
  color: black;
}

.mobile-info {
  display: none;
}

.mobile-click {
  display: none;
}

.overlay-content-mobile-view {
  display: none;
}

.badge-logo-mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  .middle-logo-container {
    width: 65%;
  }

  .desktop-phone,
  .desktop-address,
  .desktop-email,
  .desktop-bespoke,
  .desktop-info,
  .cursor-container {
    display: none;
  }

  .mobile-info {
    display: block;
    margin: auto;
  }

  .mobile-click {
    display: block;
    margin: auto;
  }

  .badge-logo {
    transform: translateX(-60px);
  }

  .overlay {
    font-size: 11px;
  }
}
